<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root stays INFO but actors are overridden programmatically -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
